//Colors
$primary: #3657CB;
$secondary: #4F5B7C;
$app-bg: #1E2538;
$base-white: #ffffff;
$base-black: #000000;

$good-rating: #4BCB36;
$average-rating: #CB6C36;
$bad-rating: #CB3F36;
//Viewports
$mobile-width: 425px;
$tablet-width: 768px;
$laptop-width: 1000px;
$desktop-width: 1920px;

//Indents
$mobile-indent: 0 30px;
$tablet-indent: 0 54px;
$laptop-indent: 0 75px;
$desktop-indent: 0 245px;
