@import "~normalize-scss/sass/normalize/import-now";
@import "fonst";

body {
  font-family: 'Qanelas', Arial, sans-serif;
  font-weight: 400;
  color: $base-white;
}

*, :before, :after {
  box-sizing: border-box;
}
